.order-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
  padding-bottom: 20px; }
  @media (max-width: 1024px) {
    .order-result {
      padding-top: 155px; } }
  @media (max-width: 767px) {
    .order-result {
      padding-top: 120px; } }
  .order-result__icon {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    margin: 0 0 36px;
    background-repeat: no-repeat;
    background-position: center; }
    .order-result__icon.success {
      background-color: #2858ff;
      background-image: url('data:image/svg+xml;utf8,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30 9.75L13.5 26.25L6 18.75" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>'); }
    .order-result__icon.fail {
      background-color: #fc4242;
      background-image: url('data:image/svg+xml;utf8,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.1893 30.3108C28.7751 30.8966 29.7249 30.8966 30.3107 30.3108C30.8964 29.725 30.8964 28.7753 30.3107 28.1895L20.1213 18.0001L31.0607 7.06066C31.6464 6.47488 31.6465 5.52513 31.0607 4.93934C30.4749 4.35355 29.5251 4.35355 28.9393 4.93934L17.9999 15.8787L7.06066 4.93948C6.47487 4.35369 5.52513 4.35369 4.93934 4.93948C4.35355 5.52527 4.35355 6.47501 4.93934 7.0608L15.8786 18.0001L4.93934 28.9393C4.35355 29.5251 4.35355 30.4749 4.93934 31.0607C5.52513 31.6464 6.47487 31.6464 7.06066 31.0607L17.9999 20.1214L28.1893 30.3108Z" fill="white"/></svg>'); }
  .order-result__title {
    font-size: 32px;
    line-height: 115%;
    font-weight: 500;
    margin: 0 0 24px;
    text-align: center; }
    @media (max-width: 767px) {
      .order-result__title {
        font-size: 20px;
        line-height: 120%; } }
  .order-result__desc {
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 24px;
    max-width: 678px;
    text-align: center; }
  .order-result__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .order-result__link {
    padding-left: 32px;
    padding-right: 32px; }
    @media (max-width: 767px) {
      .order-result__link {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px; } }
    .order-result__link:not(:last-child) {
      margin-bottom: 16px; }
