.article-grid-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #f4f4f8;
  margin-bottom: 48px; }
  @media only screen and (max-width: 767px) {
    .article-grid-tabs {
      border-bottom: none; }
      .article-grid-tabs label:not(:last-child) {
        margin-right: 25px; } }
  @media only screen and (max-width: 767px) {
    .article-grid-tabs {
      margin-bottom: 24px; } }

label[for="article-grid-tab-current"],
label[for="article-grid-tab-past"] {
  display: inline-block;
  padding: 29px 46px 26px;
  font-weight: 500;
  font-style: 16px;
  line-height: 140%; }
  @media only screen and (max-width: 767px) {
    label[for="article-grid-tab-current"],
    label[for="article-grid-tab-past"] {
      padding: 12px 8px; } }
  @media only screen and (max-width: 767px) {
    label[for="article-grid-tab-current"],
    label[for="article-grid-tab-past"] {
      font-size: 16px; } }
  label[for="article-grid-tab-current"]:hover,
  label[for="article-grid-tab-past"]:hover {
    cursor: pointer; }

#article-grid-current,
#article-grid-past {
  display: none; }

#article-grid-past img {
  -webkit-filter: saturate(50%);
          filter: saturate(50%); }

.article-grid-radio#article-grid-tab-current:checked ~ .article-grid-tabs label[for="article-grid-tab-current"] {
  color: #2858ff;
  position: relative; }
  .article-grid-radio#article-grid-tab-current:checked ~ .article-grid-tabs label[for="article-grid-tab-current"]::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2858ff; }

.article-grid-radio#article-grid-tab-current:checked ~ #article-grid-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.article-grid-radio#article-grid-tab-past:checked ~ .article-grid-tabs label[for="article-grid-tab-past"] {
  color: #2858ff;
  position: relative; }
  .article-grid-radio#article-grid-tab-past:checked ~ .article-grid-tabs label[for="article-grid-tab-past"]::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2858ff; }

.article-grid-radio#article-grid-tab-past:checked ~ #article-grid-past {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.article-grid__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: -48px;
  padding-left: 12px;
  padding-right: 12px; }
  @media only screen and (max-width: 1024px) {
    .article-grid__empty {
      margin-top: -24px; } }
  @media only screen and (max-width: 767px) {
    .article-grid__empty {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }
  .article-grid__empty-content {
    max-width: 553px; }
    @media only screen and (max-width: 1024px) {
      .article-grid__empty-content {
        max-width: 48.2%; } }
    @media only screen and (max-width: 767px) {
      .article-grid__empty-content {
        max-width: none;
        text-align: center; } }
  .article-grid__empty-title {
    font-size: 24px;
    line-height: 115%;
    margin: 0 0 24px; }
    @media only screen and (max-width: 767px) {
      .article-grid__empty-title {
        font-size: 20px; } }
  .article-grid__empty-desc {
    margin: 0 0 24px; }
  .article-grid__empty-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -8px; }
    .article-grid__empty-buttons > * {
      margin-right: 24px;
      margin-top: 8px; }
    @media only screen and (max-width: 1024px) {
      .article-grid__empty-buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .article-grid__empty-buttons > * {
          margin-right: 0;
          width: 230px;
          min-width: -webkit-max-content;
          min-width: -moz-max-content;
          min-width: max-content; } }
    @media only screen and (max-width: 767px) {
      .article-grid__empty-buttons {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .article-grid__empty-img {
    max-width: 50%; }
    @media only screen and (max-width: 1024px) {
      .article-grid__empty-img {
        max-width: 48.2%; } }
    @media only screen and (max-width: 767px) {
      .article-grid__empty-img {
        max-width: none; } }

.article-grid .article-tags {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px; }
