a.catalog-table-item__link,
a.catalog-series-table__link {
  font-size: 12px;
  line-height: 18px;
  -ms-flex-item-align: center;
      align-self: center;
  min-height: auto;
  padding-top: 5px; }

.catalog-table-item__avalible,
.catalog-series-table__avalible {
  font-size: 12px; }

.catalog-table-item__old-price {
  font-size: 12px; }

.catalog-series-table__num {
  font-size: 12px; }

.catalog-table-item__price,
.catalog-series-table__price,
.catalog-series-table__old {
  font-size: 14px; }

.is--th {
  font-size: 12px; }

.catalog-table-item__avalible p,
.catalog-series-table__avalible p {
  margin: 0;
  line-height: 120%; }
  .catalog-table-item__avalible p:not(:last-child),
  .catalog-series-table__avalible p:not(:last-child) {
    margin-bottom: 2px; }
  .catalog-table-item__avalible p.is--city,
  .catalog-series-table__avalible p.is--city {
    color: #6c7684; }

.catalog-table-item.is--not-available .catalog-table-item__title,
.catalog-table-item.is--not-available .catalog-table-item__link,
.catalog-table-item.is--not-available .catalog-table-item__avalible,
.catalog-table-item.is--not-available .catalog-table-item__old-price,
.catalog-table-item.is--not-available .catalog-table-item__price {
  color: #6c7684; }

.catalog-table-item.is--not-available .catalog-table-item__link:hover {
  color: #113ee0; }

@media only screen and (max-width: 767px) {
  .catalog-table-item.is--tr:first-child {
    display: none; } }

tr.is--not-available .catalog-series-table__link,
tr.is--not-available .catalog-series-table__avalible,
tr.is--not-available .catalog-series-table__price {
  color: #6c7684; }

tr.is--not-available .catalog-series-table__link:hover {
  color: #113ee0; }

.catalog-series-table td {
  padding-top: 20px;
  padding-bottom: 20px; }
  @media only screen and (max-width: 767px) {
    .catalog-series-table td {
      padding: 0; } }

.catalog-series-table th.catalog-series-table__price,
.catalog-series-table td.catalog-series-table__price {
  text-align: left; }

@media only screen and (max-width: 767px) {
  .catalog-series-table .slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .catalog-series-table .slick-initialized .slick-slide td:last-child {
      margin-top: auto; }
  .catalog-series-table .slick-initialized .catalog-series-table__head {
    display: none; } }

.cart-stock__item .is--stock,
.cart-stock__item .is--city {
  font-size: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block; }

.cart-stock__item .is--city {
  color: #6c7684; }

@media only screen and (max-width: 767px) {
  .cart-stock__item .is--city,
  .cart-stock__item .is--stock {
    padding-top: 0;
    padding-bottom: 0; } }

@media only screen and (max-width: 767px) {
  .cart-stock__item .is--city:nth-of-type(2),
  .cart-stock__item .is--stock:nth-of-type(2) {
    padding-top: 3px; } }

.cart-stock__item .is--city:nth-of-type(n + 3),
.cart-stock__item .is--stock:nth-of-type(n + 3) {
  margin-left: 8px; }
  .cart-stock__item .is--city:nth-of-type(n + 3)::before,
  .cart-stock__item .is--stock:nth-of-type(n + 3)::before {
    content: "/";
    margin-right: 8px; }
  @media only screen and (max-width: 767px) {
    .cart-stock__item .is--city:nth-of-type(n + 3),
    .cart-stock__item .is--stock:nth-of-type(n + 3) {
      margin-top: 5px;
      width: 100%;
      margin-left: 36px; }
      .cart-stock__item .is--city:nth-of-type(n + 3)::before,
      .cart-stock__item .is--stock:nth-of-type(n + 3)::before {
        display: none; } }

@media only screen and (max-width: 767px) {
  .cart-stock__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.price-pane-old__value {
  margin-bottom: 2px; }
  .price-pane-old__value.is--city {
    color: #6c7684; }
