@charset "UTF-8";
a.catalog-table-item__link,
a.catalog-series-table__link {
  font-size: 12px;
  line-height: 18px;
  -ms-flex-item-align: center;
      align-self: center;
  min-height: auto;
  max-height: none; }

.catalog-table-item__link-model {
  font-weight: 600; }

.catalog-table-item__link-chars {
  display: block; }

.catalog-series-table__num {
  font-size: 12px; }

.catalog-table-item__title.is--td > span {
  max-height: none;
  padding-top: 14px;
  padding-bottom: 14px; }
  @media only screen and (max-width: 767px) {
    .catalog-table-item__title.is--td > span {
      padding-top: 0px; } }

@media only screen and (max-width: 767px) {
  .catalog-table-item__title.is--td {
    height: auto; } }

.catalog-table-item__title-picture {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  margin-right: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .catalog-table-item__title-picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

.catalog-table-item__avalible,
.catalog-series-table__avalible {
  font-size: 12px; }
  .catalog-table-item__avalible.is--td,
  .catalog-series-table__avalible.is--td {
    height: auto; }

.catalog-table-item__avalible p,
.catalog-series-table__avalible p,
.price-pane-old p {
  margin: 0;
  line-height: 120%; }
  .catalog-table-item__avalible p:not(:last-child),
  .catalog-series-table__avalible p:not(:last-child),
  .price-pane-old p:not(:last-child) {
    margin-bottom: 3px; }
  .catalog-table-item__avalible p.is--city,
  .catalog-series-table__avalible p.is--city,
  .price-pane-old p.is--city {
    color: #6c7684;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .catalog-table-item__avalible p.is--city .catalog-table-item__avalible-tooltip,
    .catalog-table-item__avalible p.is--city .catalog-series-table__avalible-tooltip,
    .catalog-series-table__avalible p.is--city .catalog-table-item__avalible-tooltip,
    .catalog-series-table__avalible p.is--city .catalog-series-table__avalible-tooltip,
    .price-pane-old p.is--city .catalog-table-item__avalible-tooltip,
    .price-pane-old p.is--city .catalog-series-table__avalible-tooltip {
      position: absolute;
      display: block;
      bottom: calc(100% + 8px);
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      padding: 9px 12px;
      background-color: #fff;
      color: #6c7684;
      max-width: 222px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      white-space: normal;
      border-radius: 2px;
      -webkit-box-shadow: 0px 4px 10px rgba(86, 91, 121, 0.25);
              box-shadow: 0px 4px 10px rgba(86, 91, 121, 0.25);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
      -o-transition: opacity 0.3s, visibility 0s 0.3s;
      transition: opacity 0.3s, visibility 0s 0.3s; }
      .catalog-table-item__avalible p.is--city .catalog-table-item__avalible-tooltip b,
      .catalog-table-item__avalible p.is--city .catalog-series-table__avalible-tooltip b,
      .catalog-series-table__avalible p.is--city .catalog-table-item__avalible-tooltip b,
      .catalog-series-table__avalible p.is--city .catalog-series-table__avalible-tooltip b,
      .price-pane-old p.is--city .catalog-table-item__avalible-tooltip b,
      .price-pane-old p.is--city .catalog-series-table__avalible-tooltip b {
        color: #1a1a1a; }
      .catalog-table-item__avalible p.is--city .catalog-table-item__avalible-tooltip::after,
      .catalog-table-item__avalible p.is--city .catalog-series-table__avalible-tooltip::after,
      .catalog-series-table__avalible p.is--city .catalog-table-item__avalible-tooltip::after,
      .catalog-series-table__avalible p.is--city .catalog-series-table__avalible-tooltip::after,
      .price-pane-old p.is--city .catalog-table-item__avalible-tooltip::after,
      .price-pane-old p.is--city .catalog-series-table__avalible-tooltip::after {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 50%;
        width: 14px;
        height: 14px;
        background-color: #fff;
        -webkit-transform: translateX(-50%) rotate(45deg);
            -ms-transform: translateX(-50%) rotate(45deg);
                transform: translateX(-50%) rotate(45deg); }
    .catalog-table-item__avalible p.is--city svg,
    .catalog-series-table__avalible p.is--city svg,
    .price-pane-old p.is--city svg {
      width: 16px;
      height: 16px;
      fill: #6c7684;
      margin-left: 4px;
      -webkit-transition: fill 0.2s;
      -o-transition: fill 0.2s;
      transition: fill 0.2s; }
    .catalog-table-item__avalible p.is--city:hover,
    .catalog-series-table__avalible p.is--city:hover,
    .price-pane-old p.is--city:hover {
      color: #1a1a1a; }
      .catalog-table-item__avalible p.is--city:hover .catalog-table-item__avalible-tooltip,
      .catalog-table-item__avalible p.is--city:hover .catalog-series-table__avalible-tooltip,
      .catalog-series-table__avalible p.is--city:hover .catalog-table-item__avalible-tooltip,
      .catalog-series-table__avalible p.is--city:hover .catalog-series-table__avalible-tooltip,
      .price-pane-old p.is--city:hover .catalog-table-item__avalible-tooltip,
      .price-pane-old p.is--city:hover .catalog-series-table__avalible-tooltip {
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 0s;
             -o-transition-delay: 0s;
                transition-delay: 0s; }
      .catalog-table-item__avalible p.is--city:hover svg,
      .catalog-series-table__avalible p.is--city:hover svg,
      .price-pane-old p.is--city:hover svg {
        fill: #1a1a1a; }

.cart-stock__item .is--stock,
.cart-stock__item .is--city {
  font-size: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block; }
  @media only screen and (max-width: 767px) {
    .cart-stock__item .is--stock,
    .cart-stock__item .is--city {
      padding-top: 0;
      padding-bottom: 0;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media only screen and (max-width: 767px) {
    .cart-stock__item .is--stock:nth-of-type(2),
    .cart-stock__item .is--city:nth-of-type(2) {
      padding-top: 3px; } }
  .cart-stock__item .is--stock:nth-of-type(n + 3),
  .cart-stock__item .is--city:nth-of-type(n + 3) {
    margin-left: 8px; }
    .cart-stock__item .is--stock:nth-of-type(n + 3)::before,
    .cart-stock__item .is--city:nth-of-type(n + 3)::before {
      content: "/";
      margin-right: 8px; }
    @media only screen and (max-width: 767px) {
      .cart-stock__item .is--stock:nth-of-type(n + 3),
      .cart-stock__item .is--city:nth-of-type(n + 3) {
        margin-top: 5px;
        width: 100%;
        margin-left: 36px; }
        .cart-stock__item .is--stock:nth-of-type(n + 3)::before,
        .cart-stock__item .is--city:nth-of-type(n + 3)::before {
          display: none; } }

.cart-stock__item .is--city {
  color: #6c7684; }

.cart-stock__item .is--city {
  color: #6c7684;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }
  .cart-stock__item .is--city .catalog-table-item__avalible-tooltip,
  .cart-stock__item .is--city .catalog-series-table__avalible-tooltip {
    position: absolute;
    display: block;
    bottom: calc(100% + 8px);
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 9px 12px;
    background-color: #fff;
    color: #6c7684;
    max-width: 222px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    white-space: normal;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 10px rgba(86, 91, 121, 0.25);
            box-shadow: 0px 4px 10px rgba(86, 91, 121, 0.25);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    -o-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s; }
    .cart-stock__item .is--city .catalog-table-item__avalible-tooltip b,
    .cart-stock__item .is--city .catalog-series-table__avalible-tooltip b {
      color: #1a1a1a; }
    .cart-stock__item .is--city .catalog-table-item__avalible-tooltip::after,
    .cart-stock__item .is--city .catalog-series-table__avalible-tooltip::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;
      width: 14px;
      height: 14px;
      background-color: #fff;
      -webkit-transform: translateX(-50%) rotate(45deg);
          -ms-transform: translateX(-50%) rotate(45deg);
              transform: translateX(-50%) rotate(45deg); }
    @media only screen and (max-width: 767px) {
      .cart-stock__item .is--city .catalog-table-item__avalible-tooltip,
      .cart-stock__item .is--city .catalog-series-table__avalible-tooltip {
        left: -20px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; } }
  .cart-stock__item .is--city svg {
    width: 16px;
    height: 16px;
    fill: #6c7684;
    margin-left: 4px;
    -webkit-transition: fill 0.2s;
    -o-transition: fill 0.2s;
    transition: fill 0.2s; }
  .cart-stock__item .is--city:hover {
    color: #1a1a1a; }
    .cart-stock__item .is--city:hover .catalog-table-item__avalible-tooltip,
    .cart-stock__item .is--city:hover .catalog-series-table__avalible-tooltip {
      opacity: 1;
      visibility: visible;
      -webkit-transition-delay: 0s;
           -o-transition-delay: 0s;
              transition-delay: 0s; }
    .cart-stock__item .is--city:hover svg {
      fill: #1a1a1a; }

@media only screen and (max-width: 767px) {
  .cart-stock__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.catalog-table-item__avalible,
.catalog-series-table__avalible {
  font-size: 12px; }

.catalog-table-item__old-price {
  font-size: 12px; }

.catalog-table-item__price,
.catalog-series-table__price,
.catalog-series-table__old {
  font-size: 14px; }

.is--th {
  font-size: 12px; }

.catalog-table-item__link-chars {
  color: #6c7684; }
  .catalog-table-item__link-chars span:not(:last-child) {
    margin-right: 2px; }
    .catalog-table-item__link-chars span:not(:last-child)::after {
      content: "/";
      margin-left: 2px; }

.catalog-series-table__num-charhs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .catalog-series-table__num-charhs span {
    white-space: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .catalog-series-table__num-charhs span:not(:last-child) {
      margin-right: 2px; }
      .catalog-series-table__num-charhs span:not(:last-child)::after {
        content: "/";
        margin-left: 2px; }

.catalog-table-item__link-chars-cooling,
.catalog-series-table__num-charhs-cooling {
  white-space: nowrap; }
  .catalog-table-item__link-chars-cooling::before,
  .catalog-series-table__num-charhs-cooling::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
    background-image: url('data:image/svg+xml;utf8,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 2V11" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.08402 2.71094L6.00002 3.79544L4.91602 2.71094" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 4.19141L2 8.81141" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.82425 5.54547L8.34375 5.14897L8.74025 3.66797" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.17578 7.45703L3.65628 7.85353L3.25978 9.33453" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2 4.19141L10 8.81141" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.17578 5.54547L3.65628 5.14897L3.25978 3.66797" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.82425 7.45703L8.34375 7.85353L8.74025 9.33453" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.91602 10.2876L6.00002 9.20312L7.08402 10.2876" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/></svg>'); }

.catalog-table-item__link-chars-heating,
.catalog-series-table__num-charhs-heating {
  white-space: nowrap; }
  .catalog-table-item__link-chars-heating::before,
  .catalog-series-table__num-charhs-heating::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
    background-image: url('data:image/svg+xml;utf8,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.76777 4.73223C8.74408 5.70854 8.74408 7.29146 7.76777 8.26777C6.79146 9.24408 5.20854 9.24408 4.23223 8.26777C3.25592 7.29146 3.25592 5.70854 4.23223 4.73223C5.20854 3.75592 6.79146 3.75592 7.76777 4.73223" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 2.5V1.5" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 11.5V10.5" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.17992 3.31813L9.53492 2.96312" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.46508 10.0369L2.82008 9.68187" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 6.5H11" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 6.5H2" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.17992 9.68187L9.53492 10.0369" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.46508 2.96312L2.82008 3.31813" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/></svg>'); }

@media only screen and (max-width: 767px) {
  .catalog-table-item.is--tr:first-child {
    display: none; } }

.catalog-table-item.is--not-available .catalog-table-item__title,
.catalog-table-item.is--not-available .catalog-table-item__link,
.catalog-table-item.is--not-available .catalog-table-item__avalible,
.catalog-table-item.is--not-available .catalog-table-item__old-price,
.catalog-table-item.is--not-available .catalog-table-item__price {
  color: #6c7684; }

.catalog-table-item.is--not-available .catalog-table-item__link:hover {
  color: #113ee0; }

.catalog-table-item.is--not-available .catalog-table-item__title-picture img {
  opacity: 0.5; }

tr.is--not-available .catalog-series-table__link,
tr.is--not-available .catalog-series-table__avalible,
tr.is--not-available .catalog-series-table__price {
  color: #6c7684; }

tr.is--not-available .catalog-series-table__link:hover {
  color: #113ee0; }

.catalog-item-props--cooling {
  white-space: nowrap; }
  .catalog-item-props--cooling::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
    background-image: url('data:image/svg+xml;utf8,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 2V11" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.08402 2.71094L6.00002 3.79544L4.91602 2.71094" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 4.19141L2 8.81141" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.82425 5.54547L8.34375 5.14897L8.74025 3.66797" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.17578 7.45703L3.65628 7.85353L3.25978 9.33453" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2 4.19141L10 8.81141" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.17578 5.54547L3.65628 5.14897L3.25978 3.66797" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.82425 7.45703L8.34375 7.85353L8.74025 9.33453" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.91602 10.2876L6.00002 9.20312L7.08402 10.2876" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/></svg>'); }

.catalog-item-props--heating {
  white-space: nowrap; }
  .catalog-item-props--heating::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
    background-image: url('data:image/svg+xml;utf8,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.76777 4.73223C8.74408 5.70854 8.74408 7.29146 7.76777 8.26777C6.79146 9.24408 5.20854 9.24408 4.23223 8.26777C3.25592 7.29146 3.25592 5.70854 4.23223 4.73223C5.20854 3.75592 6.79146 3.75592 7.76777 4.73223" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 2.5V1.5" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 11.5V10.5" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.17992 3.31813L9.53492 2.96312" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.46508 10.0369L2.82008 9.68187" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 6.5H11" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 6.5H2" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.17992 9.68187L9.53492 10.0369" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.46508 2.96312L2.82008 3.31813" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/></svg>'); }

.catalog-grid-item.is--not-available::before {
  content: "Нет в наличии";
  position: absolute;
  top: 13px;
  left: 13px;
  color: #1a1a1a;
  z-index: 10;
  font-size: 14px;
  line-height: 17px;
  padding: 7px 14px;
  background-color: #f4f4f8;
  border-radius: 16px; }

.catalog-grid-item.is--not-available .catalog-grid-item__img img {
  opacity: 0.5; }
