a.catalog-table-item__link,
a.catalog-series-table__link {
  font-size: 12px;
  line-height: 18px;
  align-self: center;
  min-height: auto;
  max-height: none;
}

.catalog-table-item__link-model {
  font-weight: 600;
}

.catalog-table-item__link-chars {
  display: block;
}

.catalog-series-table__num {
  font-size: 12px;
}

.catalog-table-item__title.is--td > span {
  max-height: none;
  padding-top: 14px;
  padding-bottom: 14px;

  @media only screen and (max-width: 767px) {
    padding-top: 0px;
  }
}

.catalog-table-item__title.is--td {
  @media only screen and (max-width: 767px) {
    height: auto;
  }
}

.catalog-table-item__title-picture {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  margin-right: 24px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.catalog-table-item__avalible,
.catalog-series-table__avalible {
  font-size: 12px;

  &.is--td {
    height: auto;
  }
}

.catalog-table-item__avalible,
.catalog-series-table__avalible {
  p {
    margin: 0;
    line-height: 120%;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &.is--city {
      color: #6c7684;
      display: flex;
      align-items: center;
      position: relative;
      transition: color 0.2s;

      .catalog-table-item__avalible-tooltip,
      .catalog-series-table__avalible-tooltip {
        position: absolute;
        display: block;
        bottom: calc(100% + 8px);
        left: 50%;
        transform: translateX(-50%);
        padding: 9px 12px;
        background-color: #fff;
        color: #6c7684;
        max-width: 222px;
        width: max-content;
        white-space: normal;
        border-radius: 2px;
        box-shadow: 0px 4px 10px rgba(86, 91, 121, 0.25);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s 0.3s;

        b {
          color: #1a1a1a;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -7px;
          left: 50%;
          width: 14px;
          height: 14px;
          background-color: #fff;
          transform: translateX(-50%) rotate(45deg);
        }
      }

      svg {
        width: 16px;
        height: 16px;
        fill: #6c7684;
        margin-left: 4px;
        transition: fill 0.2s;
      }

      &:hover {
        color: #1a1a1a;

        .catalog-table-item__avalible-tooltip,
        .catalog-series-table__avalible-tooltip {
          opacity: 1;
          visibility: visible;
          transition-delay: 0s;
        }

        svg {
          fill: #1a1a1a;
        }
      }
    }
  }
}

.catalog-table-item__avalible,
.catalog-series-table__avalible {
  font-size: 12px;
}

.catalog-table-item__old-price {
  font-size: 12px;
}

.catalog-table-item__price,
.catalog-series-table__price,
.catalog-series-table__old {
  font-size: 14px;
}

.is--th {
  font-size: 12px;
}

.catalog-table-item__link-chars {
  color: #6c7684;

  span {
    &:not(:last-child) {
      margin-right: 2px;

      &::after {
        content: "/";
        margin-left: 2px;
      }
    }
  }
}

// .catalog-table-item__link-chars-cooling,
// .catalog-table-item__link-chars-heating {
//   display: inline-flex;

//   & * {
//     order: 3;
//   }

//   &::before {
//     order: 0;
//   }

//   &::after {
//     margin-top: 1px;
//     order: 0;
//   }
// }
.catalog-series-table__num-charhs {
  display: flex;

  span {
    white-space: nowrap;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 2px;

      &::after {
        content: "/";
        margin-left: 2px;
      }
    }
  }
}

.catalog-table-item__link-chars-cooling,
.catalog-series-table__num-charhs-cooling {
  &::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    transform: translateY(1px);
    background-image: url('data:image/svg+xml;utf8,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 2V11" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.08402 2.71094L6.00002 3.79544L4.91602 2.71094" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 4.19141L2 8.81141" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.82425 5.54547L8.34375 5.14897L8.74025 3.66797" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.17578 7.45703L3.65628 7.85353L3.25978 9.33453" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2 4.19141L10 8.81141" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.17578 5.54547L3.65628 5.14897L3.25978 3.66797" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.82425 7.45703L8.34375 7.85353L8.74025 9.33453" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.91602 10.2876L6.00002 9.20312L7.08402 10.2876" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }
}

.catalog-table-item__link-chars-heating,
.catalog-series-table__num-charhs-heating {
  &::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    transform: translateY(1px);
    background-image: url('data:image/svg+xml;utf8,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.76777 4.73223C8.74408 5.70854 8.74408 7.29146 7.76777 8.26777C6.79146 9.24408 5.20854 9.24408 4.23223 8.26777C3.25592 7.29146 3.25592 5.70854 4.23223 4.73223C5.20854 3.75592 6.79146 3.75592 7.76777 4.73223" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 2.5V1.5" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 11.5V10.5" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.17992 3.31813L9.53492 2.96312" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.46508 10.0369L2.82008 9.68187" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 6.5H11" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 6.5H2" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.17992 9.68187L9.53492 10.0369" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.46508 2.96312L2.82008 3.31813" stroke="rgba(108, 118, 132, 1)" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }
}

.catalog-table-item.is--tr {
  @media only screen and (max-width: 767px) {
    &:first-child {
      display: none;
    }
  }
}

.catalog-table-item {
  &.is--not-available {
    .catalog-table-item__title,
    .catalog-table-item__link,
    .catalog-table-item__avalible,
    .catalog-table-item__old-price,
    .catalog-table-item__price {
      color: #6c7684;
    }

    .catalog-table-item__link:hover {
      color: #113ee0;
    }

    .catalog-table-item__title-picture {
      img {
        opacity: 0.5;
      }
    }
  }
}

tr {
  &.is--not-available {
    .catalog-series-table__link,
    .catalog-series-table__avalible,
    .catalog-series-table__price {
      color: #6c7684;
    }

    .catalog-series-table__link:hover {
      color: #113ee0;
    }
  }
}
