.club-program-statistics {
  margin-bottom: 120px;
}

.club-program-statistics__block {
  &.mobile {
    display: none;
  }
}

.club-program-statistics__header {
  display: flex;
  justify-content: space-between;
}

.club-program-statistics__header-name {
  font-size: 48px;
  line-height: 55px;
  font-weight: 500;
  margin: 0 0 16px;
  color: #fff;
}

.club-program-statistics__header-desc {
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  color: #fff;
}

.club-program-statistics__header-logo-block {
  min-height: 100px;
  margin: 0 0 14px;
}

.club-program-statistics__header-part {
  width: calc((100% - 40px) / 2);
  padding: 40px;
  border-radius: 16px;

  &.daichi {
    background-color: $text-main;

    .club-program-statistics__header-logo {
      width: 185px;
      height: auto;
    }
  }

  &.midea {
    background: linear-gradient(92.41deg, #007fff 0%, #22283f 100.19%);

    .club-program-statistics__header-logo {
      width: 162px;
      height: auto;
    }

    .club-program-statistics__header-desc {
      max-width: 420px;
    }
  }
}

.club-program-statistics__content {
  display: none;
}

.club-program-statistics__content-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.club-program-statistics__content-part {
  width: calc((100% - 40px) / 2);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -16px;
}

.club-program-statistics__chip {
  width: calc((100% - 16px) / 2);
  padding: 24px;
  background: #f4f4f8;
  border-radius: 16px;
  margin-top: 16px;

  &.daichi {
    .club-program-statistics__chip-value {
      color: $text-main;
    }
  }

  &.midea {
    .club-program-statistics__chip-value {
      color: #32a3fd;
    }
  }

  &.third {
    width: calc((100% - 32px) / 3);
  }
}

.club-program-statistics__chip-value {
  font-size: 32px;
  line-height: 37px;
  font-weight: 500;
  margin: 0 0 8px;
}

.club-program-statistics__chip-desc {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  color: #6c7684;
}

.club-program-statistics__toggle-btn {
  width: 100%;
  border: 1.5px solid #d1d8e1;
  border-radius: 5px;
  padding: 30px;
  font-size: 16px;
  line-height: 19px;
  color: $text-main;
  font-weight: 500;
  background-color: #fff;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  img {
    margin-left: 16px;
  }

  span {
    font-weight: 500;
    font-family: "SuisseIntl";

    &:nth-child(2) {
      display: none;
    }
  }

  &.opened {
    span {
      &:nth-last-child(2) {
        display: inline;
      }

      &:first-child {
        display: none;
      }
    }

    img {
      transform: rotate(180deg);
    }
  }
}

@include desktop-m {
  .club-program-statistics {
    margin-bottom: 80px;
  }

  .club-program-statistics__header-part {
    width: calc((100% - 24px) / 2);

    &.daichi {
      .club-program-statistics__header-logo {
        width: 144px;
      }
    }

    &.midea {
      .club-program-statistics__header-logo {
        width: 133px;
      }

      .club-program-statistics__header-desc {
        max-width: 80%;
      }
    }
  }

  .club-program-statistics__header-name {
    font-size: 40px;
    line-height: 46px;
  }

  .club-program-statistics__header-desc {
    font-size: 20px;
    line-height: 30px;
  }

  .club-program-statistics__header-logo-block {
    min-height: 120px;
    margin: 0 0 16px;
  }

  .club-program-statistics__content-part {
    width: calc((100% - 24px) / 2);
  }

  .club-program-statistics__chip {
    &,
    &.third {
      width: 100%;
    }
  }
}

@include tablet {
  .club-program-statistics {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 64px;
  }

  .club-program-statistics__block {
    display: none;

    &.mobile {
      display: block;
    }
  }

  .club-program-statistics__toggle-btn {
    display: none;
  }

  .club-program-statistics__slider {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .club-program-statistics__slider-wrapper {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }

  .club-program-statistics__header-part {
    padding: 40px 24px 24px;
    width: 264px;
    margin-left: 16px;
    min-height: 264px;
    display: flex;
    flex-direction: column;

    &.daichi {
      .club-program-statistics__header-logo {
        width: 99px;
      }
    }

    &.midea {
      .club-program-statistics__header-logo {
        width: 96px;
      }
    }
  }

  .club-program-statistics__header-logo-block {
    min-height: 70px;
    margin: 0 0 14px;
  }

  .club-program-statistics__header-name {
    font-size: 24px;
    line-height: 28px;
    margin-top: auto;
  }

  .club-program-statistics__header-desc {
    font-size: 16px;
    line-height: 24px;
  }

  .club-program-statistics__chip,
  .club-program-statistics__chip.third {
    height: auto;
    margin-top: 0;
    width: 190px;
    margin-left: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
  }

  .club-program-statistics__chip {
    &:last-child {
      margin-right: 64px;
    }
  }

  .club-program-statistics__chip-value {
    font-size: 24px;
    line-height: 28px;
    margin-top: auto;
  }

  .club-program-statistics__chip-desc {
    font-size: 16px;
    line-height: 24px;
  }
}

@include mobile {
  .club-program-statistics {
    margin-bottom: 40px;
  }

  .club-program-statistics__slider-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .club-program-statistics__header-part {
    margin-left: 16px;
  }

  .club-program-statistics__chip {
    &:last-child {
      margin-right: 16px;
    }
  }
}
