.club-program-partnership {
  margin-bottom: 80px;
}

.club-program-partnership__title {
  font-size: 32px;
  line-height: 37px;
  color: $text-main;
  font-weight: 500;
  margin: 0 0 24px;
  text-align: center;
}

.club-program-partnership__desc {
  font-size: 16px;
  line-height: 24px;
  color: $text-minor;
  margin: 0 auto 40px;
  text-align: center;
  max-width: 1030px;
}

.club-program-partnership__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
}

.club-program-partnership__item {
  width: calc((100% - 72px) / 4);
  margin-top: 24px;
  display: flex;
  padding-top: 30px;
  position: relative;

  &:not(:nth-child(4n)) {
    margin-right: 24px;
  }
}

.club-program-partnership__text {
  background: linear-gradient(90deg, #007fff 0%, #22283f 100%);
  border-radius: 16px;
  padding: 3px;
  display: flex;

  span {
    display: block;
    background: #fff;
    border-radius: 13px;
    padding: 40px;
  }
}
.club-program-partnership__num {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  background: linear-gradient(92.41deg, #007fff 0%, #22283f 100.19%);
  border-radius: 16px 16px 16px 0px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  color: #fff;
  padding-top: 16px;
}

@include desktop-m {
  .club-program-partnership {
    margin-bottom: 64px;
  }

  .club-program-partnership__item {
    width: calc((100% - 24px) / 2);

    &:nth-child(n) {
      margin-right: 0;
    }

    &:not(:nth-child(2n)) {
      margin-right: 24px;
    }
  }

  .club-program-partnership__text {
    width: 100%;

    span {
      width: 100%;
      padding-top: 55px;
      min-height: 158px;
    }
  }
}

@include tablet {
  .club-program-partnership__title {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 24px;
  }

  .club-program-partnership__desc {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 40px;
  }

  .club-program-partnership__list {
    margin-top: -16px;
  }

  .club-program-partnership__item {
    width: 100%;
    padding-top: 15px;
    margin-top: 16px;

    &:nth-child(n) {
      margin-right: 0;
    }
  }

  .club-program-partnership__text {
    span {
      min-height: auto;
      padding: 65px 24px 24px;
    }
  }
}

@include mobile {
  .club-program-partnership {
    margin-bottom: 40px;
  }

  .club-program-partnership__desc {
    margin-bottom: 32px;
  }

  .club-program-partnership__list {
    margin-top: -8px;
  }

  .club-program-partnership__item {
    margin-top: 8px;
  }
}
